.Register{
  background: #3b3b3b;
}

.web-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200vb; 
  font-style: normal;
  font-size: 10vb;
  margin-top: -200px;
  color: aliceblue;
}

.web-label{
  transform: translate(0px,-15px);
  font-weight: 200%;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: -40px;
  color: #3b3b3b;
}

.form-group2 {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
}

.form-group2 label {
  width: 110px; 
  text-align: left;
  color: #333; 
  white-space: nowrap; 
}

.form-group2 input {
  flex-grow: 1; 
}

.errors {
  color: #3b3b3b;
  font-size: 0.875rem;
  font-weight: bold;
}

.submit-container {
  margin-top: 1.5rem; 
  text-align: center;
}

.login-container {
  text-align: center;
  color: #3b3b3b;
}

.show-password {
  margin-bottom: 1.5rem; 
  cursor: pointer;
  color: #3b3b3b; 
}